@import "./layout/navbar.css";
@import "./layout/hero.css";

:root {
    --color-w: #FEFEFE;
    --color-b: #355592;
    --color-y: #F39C12;
    --color-lb: #F1F8FF;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}