#classes {
    text-align: center;
    color: var(--color-g);
    position: relative;
    padding-bottom: 50px;
}

/* Classes Background Image */
.classesImage {
    position: absolute;
    background-color: #F6F6F6;
    clip-path: polygon(40% 0, 100% 0, 100% 100%, 50% 100%);
    width: 100%;
    height: 100%;
    z-index: -1;
}

#classes h1 {
    padding-top: 45px;
}

.ourClassesP {
    font-weight: var(--fw-700);
    width: 80%;
    margin: 0 auto;
}

/* Classes Buttons  */
.classesBtns {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 25px 0;
    flex-wrap: wrap;
}

.classesBtn {
    color: var(--color-w);
    background-color: var(--color-b);
    padding: 8px 18px;
    font-size: var(--fs-0);
    font-weight: var(--fw-700);
    position: relative;
}

.classesBtn:hover {
    background-color: var(--color-y);
}

.caret {
    position: absolute;
    bottom: -35px;
    font-size: 45px;
    color: var(--color-y);
    left: 50%;
    transform: translate(-50%, 0);
    z-index: -1;
}

.selected {
    box-shadow: 0px 0px 10px 1px var(--color-y);
    background-color: var(--color-y);
}

.classes {
    display: none;
    justify-content: space-between;
}

.d-flex {
    display: flex;
}

.classes img {
    width: 45%;
    height: min-content;
    padding: 65px 0 0 0;
}

.information {
    width: 45%;
    text-align: left;
}

.information h2 {
    padding-top: 18px;
}

@media (max-width: 576px) {
    .classes {
        flex-direction: column;
        align-items: center;
    }

    .classes img {
        width: 110%;
    }

    .information {
        width: 95%;
    }
}