.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 60%;
    color: var(--color-w);
    border-radius: 10px;
    transition: all 0.3s linear;
    padding: 0 0.8rem;
    z-index: 2;
}

.navbarBtns a {
    color: var(--color-w);
    font-size: 1.3rem;
    font-weight: 700;
    transition: all 0.3s;
}

.navbarBtns a:not(:last-child) {
    margin-right: 1vw;
}

.navbarBtns a:last-child {
    background-color: var(--color-y);
    padding: 5px 8px;
    border: 2px solid var(--color-y);
}

.navbarBtns a:not(:last-child):hover {
    opacity: 0.6;
    text-shadow: 2px 2px 2px rgba(0,0,0,1);
}

.navbar a:last-child:hover {
    background-color: rgba(0,0,0,0.8);
    color: var(--color-y);
}

.navbarMenuBtn {
    font-size: 4rem;
    margin-right: 2rem;
    display: none;
}

@media (max-width: 1400px) {
    .navbarBtns {
        position: absolute;
        display: flex;
        flex-direction: column;
        width: 40%;
        top: 95px;
        right: 0;
        background-color: rgba(0,0,0,0.8);
        transition: all 0.3s linear;
        height: 0;
        overflow: hidden;
        border-radius: 10px;
    }

    .navbarOpen {
        height: 385px;
    }

    .navbarBtns a {
        font-size: 2rem;
        margin: 0.4rem 1.4rem;
    }

    .navbarMenuBtn {
        display: block;
    }
}