/* Navbar  */
header {
    position: fixed;
    width: 100%;
    height: auto;
    transition: all 0.3s linear;
    z-index: 2;

}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 87px;
}

/* Navbar Buttons  */
.navbarBtns a {
    font-size: var(--fs-0);
    font-weight: var(--fw-700);
}

.navbarBtns a:not(:last-child) {
    margin-right: 1vw;
}

.navbarBtns a:last-child {
    background-color: var(--color-y);
    padding: 6px 9px;
    border: 2px solid var(--color-y);
}

.navbarBtns a:not(:last-child):hover {
    opacity: 0.6;
    text-shadow: 2px 2px 2px rgba(0,0,0,1);
}

.navbar a:last-child:hover {
    background-color: rgba(0,0,0,0.8);
    color: var(--color-y);
}

/* Dropdown Button */
.navbarDropdownBtn {
    font-size: var(--fs-4);
    display: none;
}

@media (max-width: 1460px) {
    /* Navbar Buttons */
    .navbarBtns {
        position: absolute;
        display: flex;
        flex-direction: column;
        width: auto;
        top: 89px;
        right: 10px;
        background-color: rgba(0,0,0,0.8);
        transition: all 0.3s linear;
        height: 0;
        overflow: hidden;
        border-radius: 10px;
    }

    .navbarOpen {
        height: 285px; /* Dropdown Menu Height */
    }

    .navbarBtns a {
        margin: 0.4rem 1.4rem;
    }

    .navbarDropdownBtn {
        display: block;
    }
}

@media (max-width: 576px) {
    .navbar {
        width: 95%;
    }
}